@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

/*---------Body-----------*/

body {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Roboto', sans-serif;
  color: #585858;
}
body p {
  line-height: 1.8;
}
/*-----------Navbar-------------*/
.navbar {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: .06rem;

}

.navbar-nav li {
  padding-right: 0.8rem;
}

.navbar-brand img{
  height: 3.5rem;
  padding-left: 0.5rem; 
}

.navbar-brand img:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
  @keyframes shake {
 30% { transform: translate(-3px, 0px) rotate(50deg); }
}

.nav-link:hover,
.nav-link.active {
  color: #4E4E4E;
}

/*------- Covid-alert---------*/
.covid-alert {
  text-align: center;
  background-color: rgba(63, 43, 248, 0.979);
  line-height: normal;
}

.covid-alert p{
  padding-top: 0.5rem;
  display: block;
  color: #fff;
  margin-bottom: 0.6rem;
  
}

.covid-alert a {
  color: #fff;
  text-decoration: underline;
}

.covid-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

/*-- Carousel Slide ---*/
.carousel-inner {
  max-height: 50rem;
  width: 100%;  
  object-fit: cover;
   
}
/*---------- History & Culture Page-----------*/
/*--About Section--*/
h1 {
  letter-spacing: .08rem;
  margin: 0 auto;
  text-align: center;
  padding-top: 2rem;
  font-size: 2.5rem;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}
/*---------Cards Section--------*/

.card {
  box-shadow: 0 5px 5px rgba(0, 0, 0, .08);
}

.card-zoom {
  position: relative;
  overflow: hidden;
}

.card-zoom:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

.card-zoom img {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

#history-cards {
  max-width: 1200px;
  margin: 0 auto;
  object-fit: none;
  
 
}

.card-title {
  padding-top: 1rem;
}

.card-text {
  padding-top: 0.7rem;
}

.btn-primary:hover {
  color: rgb(105, 102, 102);
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  
}